.payment-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.payment-icon__pic {
  width: 30px;
  height: auto;
  margin: 5px;
  opacity: 0.5;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input-text {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
}

.validate-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
